a {
    color: rgb(15, 97, 63);
    text-decoration:none;
    font-family: 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: 15px;
    
}

a:hover {
    color: rgb(255, 0, 0);
}


img {
    margin: 10px;
    width: 600px;
    height: 300px;
    align-items: center;
    border-radius: 5px;
}

p {
    color: brown;
}